#sessions div.arrow {
    background: transparent url(arrows.png) no-repeat scroll 0px -16px;
    width: 16px;
    height: 16px;
    display: block;
}

#sessions div.up {
    background-position: 0px 0px;
}