<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Crane Six-Dof Project</title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Our custom CSS files -->
    <link href="../static/css/custom/dashboard-table.css" rel="stylesheet" type="text/css">

    <!-- Style sheed for navbar -->
    <link href="../static/css/navbar.css" rel="stylesheet" type="text/css">

    <script src="../static/js/Blob.js"></script>
    <script src="../static/js/FileSaver.js"></script>
    <script type="text/javascript" src="../static/custom-scripts/usb-script.js"></script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Six-Dof Admin</a>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-fw fa-table"></i> Server Endpoints</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard
                        </h1>
                 <!--        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol> -->
                    </div>
                </div>
                <!-- /.row -->

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-download fa-fw"></i> Data Records</h3>
                        </div>
                        <div class="panel-body">
                            <div>
                                <input type="file" id="create_session_file" />
                                <input id="create_session_submit" type="submit" name="create_session_button"
                                       onclick="clicked_create_session('{}', 's')" value="Create New Session From Local File" />
                            </div>
                            <div class="table-responsive">
                                <table id="sessions" class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Session ID</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th>Download</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {{ table|safe }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Scripts for table collapse -->
    <script type="text/javascript">
        function toggle_row() {
            $("#sessions tr:first-child").show();
            $("#sessions tr.master td:last-child").click(function(){
                $(this).parent("tr.master").next("tr").toggle();
                $(this).find(".arrow").toggleClass("up");
            });
        }
    </script>

    <script type="text/javascript">
        $(document).ready(
            toggle_row()
        );
    </script>

    <!-- Script for buttons to download files -->
    <script type='text/javascript'>
        function clicked_raw(id, rec_type) {
            var server_endpoint = rec_type == "r" ? '/getRecordRaw/' + id : '/getSessionRaw/' + id;
            $.ajax({headers : {},
                url: server_endpoint,
                success: function (data) {
                    var blob = new Blob([data.data], {type: data.mimetype});
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = data.filename;
                    link.click();
                }});
        }

        function clicked_analyzed(id, rec_type) {
            var server_endpoint = rec_type == "r" ? '/getRecordAnalyzed/' + id : '/getSessionAnalyzed/' + id;
            $.ajax({headers : {},
                url: server_endpoint,
                success: function (data) {
                    var blob = new Blob([data.data], {type: data.mimetype});
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = data.filename;
                    link.click();
                }});
        }
    </script>

</body>

</html>
